[Desktop Entry]
Name[be]=Прадвызначаныя праграмы
Name[bg]=Стандартни програми
Name[ca]=Aplicacions per defecte
Name[cs]=Výchozí aplikace
Name[da]=Standardprogrammer
Name[de]=Vorgabe-Anwendungen
Name[el]=Προεπιλεγμένες εφαρμογές
Name[en_GB]=Default Apps
Name[es]=Aplicaciones predeterminadas
Name[eu]=Aplikazio lehenetsiak
Name[fa]=کاره‌های پیش‌گزیده
Name[fi]=Oletussovellukset
Name[fo]=Forsett forrit
Name[fr]=Applications par défaut
Name[fur]=Aplicazions predefinidis
Name[gl]=Aplicacións predeterminadas
Name[he]=יישומי בררת מחדל
Name[hu]=Alapértelmezett alkalmazások
Name[id]=Aplikasi Baku
Name[it]=Applicazioni predefinite
Name[ka]=ნაგულისხმები აპები
Name[kk]=Үнсіз келісім қолданбалары
Name[ko]=기본 앱
Name[lt]=Numatytosios programos
Name[nl]=Standaardtoepassingen
Name[oc]=Aplicacions per defaut
Name[pa]=ਡਿਫਾਲਟ ਐਪਾਂ
Name[pl]=Domyślne programy
Name[pt]=Aplicações predefinidas
Name[pt_BR]=Aplicativos padrão
Name[ru]=Приложения по умолчанию
Name[sk]=Predvolené aplikácie
Name[sl]=Privzeti programi
Name[sr]=Подразумевани програми
Name[sv]=Standardprogram
Name[tr]=Öntanımlı Uygulamalar
Name[uk]=Типові програми
Name[vi]=Ứng dụng Mặc định
Name[zh_CN]=默认应用
Name[zh_TW]=預設程式
Name=Default Apps
Comment[be]=Наладзіць прадвызначаныя праграмы
Comment[bg]=Задаване на стандартни програми
Comment[ca]=Configura les aplicacions per defecte
Comment[cs]=Nastavit výchozí aplikace
Comment[da]=Opsætning af standardprogrammer
Comment[de]=Vorgabe-Anwendungen einrichten
Comment[el]=Ρύθμιση προεπιλεγμένων εφαρμογών
Comment[en_GB]=Configure Default Apps
Comment[es]=Configurar aplicaciones predeterminadas
Comment[eu]=Konfiguratu aplikazio lehenetsiak
Comment[fa]=پیکربندی کاره‌های پیش‌گزیده
Comment[fi]=Määritä oletussovellukset
Comment[fo]=Stilla forsett forrit
Comment[fr]=Configurer les applications par défaut
Comment[fur]=Configure lis aplicazions predefinidis
Comment[gl]=Configurar as aplicacións predeterminadas
Comment[he]=הגדרת יישומי בררת המחדל
Comment[hu]=Alapértelmezett alkalmazások beállítása
Comment[id]=Mengonfigurasi Aplikasi Baku
Comment[it]=Configurazione delle applicazioni predefinite
Comment[ka]=ნაგულისხმევი აპლიკაციების მორგება
Comment[kk]=Үнсіз келісім қолданбаларын баптау
Comment[ko]=기본 앱 설정
Comment[lt]=Konfigūruoti numatytąsias programas
Comment[nl]=Standaardtoepassingen configureren
Comment[oc]=Configurar las aplicacions per defaut
Comment[pa]=ਮੂਲ ਐਪਲੀਕੇਸ਼ਨਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguracja domyślnych programów
Comment[pt]=Configurar as aplicações predefinidas
Comment[pt_BR]=Configure os aplicativos padrão
Comment[ru]=Настроить приложения по умолчанию
Comment[sk]=Nastavuje predvolené aplikácie
Comment[sl]=Nastavitev privzetih programov
Comment[sr]=Подеси подразумеване програме
Comment[sv]=Konfigurera standardprogram
Comment[tr]=Öntanımlı Uygulamaları Yapılandır
Comment[uk]=Налаштовування типових програм
Comment[vi]=Cấu hình ứng dụng mặc định
Comment[zh_CN]=配置默认应用
Comment[zh_TW]=設定預設程式
Comment=Configure Default Apps
Exec=gnome-control-center default-apps
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-default-apps-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Default Apps panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=verstek;toepassing;voorkeur;media;
Keywords[ar]=مبدئي;تطبيق;مفضل;وسائط;
Keywords[be]=default;application;preferred;media;прадвызначаны;перадвызначаны;па змаўчанні;праграма;перавагі;медыя;
Keywords[bg]=стандартни;предпочитани;приложения;програми;носители;медия;default;application;preferred;media;
Keywords[bn_IN]=ডিফল্ট;অ্যাপ্লিকেশান;পছন্দসই;মিডিয়া;
Keywords[ca]=per defecte; aplicació; preferida;multimèdia;
Keywords[ca@valencia]=per defecte; aplicació; preferida;multimèdia;
Keywords[ckb]=بنەڕەت;نەرمەواڵا;پەسەندکراو;ڕەنگاڵە;
Keywords[cs]=výchozí;aplikace;preferovaný;preferovaná;preferované;upřednostňovaný;upřednostňovaná;upřednostňované;média;médium;multimédia;
Keywords[da]=standard;program;applikation;foretrukne;foretrukken;medie;medier;
Keywords[de]=Vorgabe;Voreinstellung;Anwendung;bevorzugt;Medien;Medium;
Keywords[el]=προεπιλογή;εφαρμογή;προτιμώμενη;μέσα;default;application;preferred;media;
Keywords[en_GB]=default;application;preferred;media;
Keywords[eo]=implicita;aplikaĵo;preferita;datumportilo;
Keywords[es]=predeterminado;aplicación;preferida;medios;
Keywords[eu]=lehenetsia;aplikazioa;hobetsia;euskarria;
Keywords[fa]=default;application;preferred;media;پیش‌گزیده;پیش‌گزیده;ترجیح;رسانه;
Keywords[fi]=default;application;preferred;media;oletussovellus;ensisijainen;
Keywords[fo]=forsett;forrit;farrit;standard;miðlar;miðil;
Keywords[fr]=défaut;par défaut;application;préférée;média;
Keywords[fur]=predefinît;aplicazion;preferît;multimedia;
Keywords[gd]=default;application;preferred;media;tùsail;bun-roghainn;bunaiteach;aplacaid;nas fheass;as fhearr;meadhan;meadhanan;
Keywords[gl]=predeterminado;aplicación;preferido;media;
Keywords[he]=ברירת מחדל;בררת מחדל;דפאולט;יישום;יישומים;מאפיינים;הגדרות;הגדרה;מדיה;
Keywords[hr]=zadano;aplikacija;poželjno;medij;
Keywords[hu]=alap;alapértelmezett;alkalmazás;előnyben részesített;média;
Keywords[id]=bawaan;aplikasi;disukai;media;
Keywords[is]=sjálfgefið;forrit;gagnamiðill;
Keywords[it]=predefinito;applicazione;preferite;dispositivo;media;multimedia;
Keywords[ja]=default;application;preferred;media;デフォルト;既定;アプリケーション;メディア;
Keywords[ka]=default;application;preferred;media;
Keywords[kk]=default;application;preferred;media;үнсіз келісім;қолданба;таңдамалы;тасушы;
Keywords[ko]=default;기본;기본값;application;프로그램;앱;애플리케이션;preferred;media;미디어;
Keywords[lt]=numatytoji;programa;pageidaujama;laikmena;
Keywords[lv]=noklusējuma;lietotne;vēlamais;mediji;defaulta;aplikācija;mēdiji;
Keywords[mjw]=default;application;preferred;media;
Keywords[ml]=default;application;preferred;media;
Keywords[ms]=lalai;aplikasi;dikehendaki;media;
Keywords[nb]=forvalgt;program;foretrukket;medie;
Keywords[ne]=पूर्वनिर्धारित;अनुप्रयोग;रुचाइएको;मिडिया;
Keywords[nl]=default;application;preferred;media;standaard;toepassing;voorkeur;
Keywords[oc]=defaut;per defaut;aplicacion;preferida;mèdia;
Keywords[pa]=ਡਿਫਾਲਟ;ਮੂਲ;ਐਪਲੀਕੇਸ਼ਨ;ਤਰਜੀਹੀ;ਮੀਡੀਆ;ਪਸੰਦ;
Keywords[pl]=domyślne;programy;aplikacje;preferowane;nośnik;
Keywords[pt]=predefinição;aplicação;preferida;média;
Keywords[pt_BR]=padrão;aplicativo;preferido;mídia;
Keywords[ro]=default;application;preferred;media;implicit;implicită;implicite;aplicație;preferată;preferate;
Keywords[ru]=по умолчанию;приложение;предпочтительное;носитель;
Keywords[sk]=predvolená;predvolený;predvolené;aplikácia;uprednostňovaná;uprednostňovaný;uprednostňované;médium;médiá;nosič,nosiče;
Keywords[sl]=privzeto;program;prednostno;priljubljeno;media;predstavnost;sistem;podrobnosti;info;informacije;različica;
Keywords[sr]=основни;програм;омиљени;медиј;
Keywords[sr@latin]=osnovni;program;omiljeni;medij;
Keywords[sv]=standard;program;föredragen;media;
Keywords[tr]=öntanımlı;uygulama;tercihen;yeğlenen;ortam;
Keywords[uk]=типове;програма;бажане;носій;default;application;preferred;media;
Keywords[vi]=default;application;preferred;media;mặc định;mac dinh;ứng dụng;ung dung;ưa dùng;uu dung;
Keywords[zh_CN]=default;application;preferred;media;默认;应用程序;首选;偏好;媒体;介质;
Keywords[zh_TW]=default;application;preferred;media;預設;應用程式;偏好;首選;媒體;
Keywords=default;application;preferred;media;
