[Desktop Entry]
Name[af]=Privaatheid
Name[an]=Privacidat
Name[ar]=الخصوصية
Name[as]=গোপনীয়তা
Name[be]=Прыватнасць
Name[bg]=Поверителност
Name[bn_IN]=গোপনীয়তা
Name[bs]=Privatnost
Name[ca]=Privacitat
Name[ckb]=تایبەتێتی
Name[cs]=Soukromí
Name[da]=Privatliv
Name[de]=Datenschutz
Name[el]=Ιδιωτικότητα
Name[en_GB]=Privacy
Name[eo]=Privateco
Name[es]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fa]=زندگی خصوصی
Name[fi]=Yksityisyys
Name[fr]=Confidentialité
Name[fur]=Privacy
Name[ga]=Príobháid­eachas
Name[gd]=Prìobhaideachd
Name[gl]=Privacidade
Name[gu]=ખાનગી
Name[he]=פרטיות
Name[hi]=गोपनीयता
Name[hr]=Privatnost
Name[hu]=Adatvédelem
Name[id]=Privasi
Name[ie]=Privatie
Name[is]=Gagnaleynd
Name[it]=Privacy
Name[ja]=プライバシー
Name[ka]=პირადი ინფორმაცია
Name[kab]=Tabaḍnit
Name[kk]=Жекелік
Name[kn]=ಗೌಪ್ಯತೆ
Name[ko]=개인 정보
Name[lt]=Privatumas
Name[lv]=Privātums
Name[mjw]=Privacy
Name[mr]=गोपणीयता
Name[ms]=Kerahsiaan
Name[nb]=Personvern
Name[ne]=गोपनीयता
Name[nl]=Privacy
Name[oc]=Confidencialitat
Name[or]=ଗୋପନୀୟତା
Name[pa]=ਪਰਦੇਦਾਰੀ
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Confidențialitate
Name[ru]=Конфиденциальность
Name[sk]=Súkromie
Name[sl]=Zasebnost
Name[sr]=Приватност
Name[sr@latin]=Privatnost
Name[sv]=Sekretess
Name[ta]=தனியுரிமை
Name[te]=గోప్యత
Name[tg]=Махфият
Name[tr]=Gizlilik
Name[ug]=شەخسىيەت
Name[uk]=Конфіденційність
Name[vi]=Riêng tư
Name[zh_CN]=隐私
Name[zh_HK]=私隱
Name[zh_TW]=隱私
Name=Privacy
Comment[be]=Кіраванне доступам да абсталявання, сэрвісаў і даных
Comment[ca]=Control de l'accés al maquinari, serveis i dades
Comment[cs]=Určit přístup k hardwaru, službám a datům
Comment[da]=Kontrollér adgang til hardware, tjenester og data
Comment[de]=Zugriff auf Hardware, Dienste und Daten steuern
Comment[en_GB]=Control access to hardware, services, and data
Comment[es]=Control de acceso al hardware, servicios y datos
Comment[eu]=Kontrolatu hardwarearen, zerbitzuen eta datuen atzipena
Comment[fa]=واپایش دسترسی به سخت‌افزار، خدمت و داده‌ها
Comment[fi]=Hallitse pääsyä laitteistoon, palveluihin ja tietoihin
Comment[fr]=Contrôler l’accès au matériel, aux services et aux données
Comment[gl]=Controle o acceso ao hardware, servizos e datos
Comment[he]=שליטה על הגישה לחומרה, לשירותים ולמידע
Comment[hu]=A hardverhez, szolgáltatásokhoz és adatokhoz való hozzáférés szabályozása
Comment[id]=Mengontrol akses ke perangkat keras, layanan, dan data
Comment[it]=Controlla l'accesso all'hardware, ai servizi e ai dati
Comment[ka]=აკონტროლეთ წვდომა აპარატურასთან, სერვისებთან და მონაცემებთან
Comment[kk]=Құрылғылар, қызметтер мен деректерге қол жеткізуді басқарады
Comment[ko]=하드웨어, 서비스, 데이터에 대한 접근 제어
Comment[lt]=Valdyti prieigą prie aparatūros, tarnybų bei duomenų
Comment[nl]=Beheer toegang tot hardware, diensten en gegevens
Comment[pa]=ਹਾਰਡਵੇਅਰ, ਸੇਵਾਵਾਂ ਅਤੇ ਡਾਟੇ ਲਈ ਪਹੁੰਚ ਨੂੰ ਕੰਟਰੋਲ ਕਰੋ
Comment[pl]=Sterowanie dostępem do sprzętu, usług i danych
Comment[pt_BR]=Controle acesso a hardwares, serviços e dados
Comment[ru]=Управление доступом к оборудованию, службам и данным
Comment[sl]=Upravljanje dostopa do strojne opreme, storitev in podatkov.
Comment[sv]=Styr åtkomst till hårdvara, tjänster och data
Comment[tr]=Donanım, hizmet ve veriye erişimi denetle
Comment[uk]=Керувати доступом до обладнання, служб та даних
Comment[zh_CN]=控制对硬件、服务和数据的访问
Comment=Control access to hardware, services, and data
Exec=gnome-control-center privacy
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-privacy-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-AccountSettings;
OnlyShowIn=GNOME;
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;Прыватнасць;Экран;Блакаванне;Блакіраванне;Канфідэнцыяльнасць;Канфідэнцыйнасць;Выкарыстанне;Нядаўнія;Гісторыя;Файлаў;Часовыя;Tmp;Сметніца;Дыягностыка;Збой;Месцазнаходжанне;Камера;Фота;Відэа;Вэб-камера;Мікрафон;Запіс;Бяспека;
Keywords[ca]=Privadesa;Pantalla;Bloqueig;Privat;Ús;Recent;Història;Fitxers;Temporal;Tmp;Brossa;Purga;Mantenir;Diagnòstics;Trencaments;Ubicació;GPS;Càmera;Fotos;Vídeo;Càmera web;Micròfon;Enregistrament;Seguretat;Microprogramari;Thunderbolt;
Keywords[cs]=Soukromí;Obrazovka;Uzamknout;Soukromé;Používání;Nedávné;Historie;Soubory;Dočasné;Tmp;Koš;Vyčistit;Uchovat;Diagnostika;Pád;Poloha;Gps;Fotoaparát;Fotky;Video;Webkamera;Mikrofon;Nahrávání;Zabezpečení;Firmware;Thunderbolt;
Keywords[da]=Privatliv;Skærm;Lås;Privat;Brug;Seneste;Historik;Filer;Midlertidig;Tmp;Papirkurv;Udrens;Behold;Diagnostik;Nedbrud;Placering;GPS;Kamera;Fotos;Billeder;Video;Webcam;Mikrofon;Optagelse;Sikkerhed;Firmware;Thunderbolt;
Keywords[de]=Datenschutz;Bildschirm;sperren;privat;Verwendung;kürzlich;Verlauf;Dateien;temporär;Tmp;Papierkorb;bereinigen;behalten;Diagnosen;Absturz;Ort;GPS;Kamera;Fotos;Video;Webcam;Mikrofon;aufnehmen;Sicherheit;Firmware;Thunderbolt;
Keywords[en_GB]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Wastebasket;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;
Keywords[es]=Privacidad;Pantalla;Bloqueo;Privado;Uso;Reciente;Histórico;Archivos;Temporales;Tmp;Papelera;Limpiar;Conservar;Diagnósticos;Error;Ubicación;Gps;Cámara;Fotos;Vídeo;Webcam;Micrófono;Grabación;Seguridad;Firmware;Thunderbolt;
Keywords[eu]=pribatutasuna;pantaila;blokeoa;pribatua;erabilera;azkena;historia;fitxategiak;behin-behinekoa;tmp;zakarrontzia;kendu betiko;eutsi;diagnostikoa;kraskadura;kokapena;GPS;kamera;argazkiak;bideoa;web-kamera;mikrofonoa;grabazioa;segurtasuna;firmwarea;Thunderbolt;
Keywords[fa]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;محرمانگی;صفحه;قفل;خصوصی;شخصی;استفاده;اخیر;تازه;موقت;زباله;آشغال;فروپاشی;مکان;دوربین;عکس;ویدیو;وبکم;میکروفون;صدابر;ضبط;امنیت;ثابت‌افزار;تاندربولت;
Keywords[fi]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;yksityisyys;tietosuoja;näyttö;historia;viimeisimmät;väliaikaiset;roskakori;diagnostiikka;sijainti;kamera;kuvat;web-kamera;mikrofoni;nauhoittaminen;tietoturva;turvallisuus;laiteohjelmisto;
Keywords[fr]=vie privée;écran;verrouillage;utilisation;récent;historique;fichiers;temporaires;tmp;corbeille;purger;retenir;diagnostiques;crash;plantage;emplacement;gps;caméra;photos;vidéos;webcam;microphone;enregistrement;sécurité;micro-logiciel;micro-programme;thunderbolt;
Keywords[gl]=Privacidade;Pantalla;Bloqueo;Privado;Uso;Recente;Historial;Ficheiros;Temporal;Tmp;Lixo;Purgar;Conservar;Diagnóstico;Fallo;Localización;GPS;Cámara;Fotos;Vídeo;Cámara web;Micrófono;Gravación;Seguridade;Firmware;Thunderbolt;
Keywords[he]=פרטיות;פרטי;מסך;נעילה;שימוש;לאחרונה;אחרון;אחרונים;היטוריה;קבצים;קובץ;זמני;זמניים;אשפה;ניקוי;פינוי;לשמור;שמירה;להחזיק;החזקה;אבחון;דיאגנוסטיקה;קריסה;מיקום;GPS; מצלמה;תמונות;סרטים;סרטונים;וידאו;מצלמת רשת;מצלמת אינטרנט;מיקרופון;הקלטה;אבטחה;קשחה;קושחה;Thunderbolt;
Keywords[hu]=Adatvédelem;Képernyő;Zárolás;Személyes;Használat;Legutóbbi;Előzmények;Fájlok;Átmeneti;Ideiglenes;Tmp;Kuka;Törlés;Megtartás;Diagnosztika;Összeomlás;Hely;Gps;Kamera;Fényképek;Videó;Webkamera;Mikrofon;felvétel;Rögzítés;Biztonság;Firmware;Belső vezérlőprogram;Thunderbolt;
Keywords[id]=Privasi;Layar;Kunci;Pribadi;Penggunaan;Baru-baru ini;Riwayat;Berkas;Sementara;Tmp;Sampah;Bersihkan;Simpan;Diagnostik;Kecelakaan;Lokasi;Gps;Kamera;Foto;Video;Kamera Web;Mikrofon;Perekaman;Keamanan;Perangkat Tegar;Thunderbolt;
Keywords[it]=Privacy;Schermo;Blocco;Blocca;Privato;Privata;Uso;Recenti;Cronologia;File;Temporanei;Tmp;Cestino;Svuota;Mantieni;Diagnostica;Crash;Localizzazione;Gps;Camera;Foto;Video;Webcam;Microfono;Registrazione;Sicurezza;Firmware;Thunderbolt;
Keywords[kk]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;жекелік;Экран;Блоктау;Жеке;Қолдану;Жуырдағы;Тарих;Файлдар;Уақытша;Қоқыс шелегі;Тазарту;Диагностика;Құлау;Орналасу;Камера;Фото;Видео;Веб-камера;Микрофон;Жазып отыру;Қауіпсіздік;Бинарлы кодтар;
Keywords[ko]=Privacy;사생활;Screen;화면;Lock;잠금;Private;개인;Usage;사용;Recent;최근;History;Files;파일;Temporary;임시;Tmp;Trash;휴지통;Purge;비우기;Retain;유지;Diagnostics;진단;Crash;크래시;Location;위치;Gps;Camera;카메라;Photos;사진;Video;비디오;동영상;Webcam;웹캠;Microphone;마이크;마이크로폰;Recording;녹화;Security;보안;Firmware;펌웨어;Thunderbolt;썬더볼트;
Keywords[lt]=Privatumas;Ekranas;Rakinimas;Privatus;Naudojimas;Neseni;Istorija;Failai;Laikini;Tmp;Šiukšlinė;Valyti;Palikti;Diagnostika;Lūžimas;Vietovė;Gps;Kamera;Nuotraukos;Vaizdo įrašas;Internetinė kamera;Mikrofonas;Įrašymas;Sauga;Saugumas;Aparatinė;Thunderbolt;
Keywords[nl]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;Scherm;vergrendelen;privé;privaat;gebruik;geschiedenis;historiek;bestanden;tijdelijk;prullenbak;verwijderen;legen;behouden;diagnostische gegevens;diagnostiek;bevindingen;vastlopen;locatie;positie;foto's;foto’s;fotos;microfoon;opname;opnemen;beveiliging;veiligheid;
Keywords[pa]=ਪਰਦੇਦਾਰੀ;ਪਰਾਈਵੇਸੀ;ਸਕਰੀਨ;ਸਕ੍ਰੀਨ;ਲਾਕ;ਤਾਲਾ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਵਰਤੋਂ;ਇਸਤੇਮਾਲ;ਤਾਜ਼ਾ;ਹਾਲੀਆ;ਸੱਜਰਾ;ਅਤੀਤ;ਹਿਸਟਰੀ;ਫ਼ਾਇਲਾਂ;ਫ਼ਾਈਲਾਂ;ਆਰਜ਼ੀ;ਕੱਚਾ;ਰੱਦੀ;ਬੇਕਾਰ;ਖਾਲੀ;ਜਾਂਚ;ਪੜਤਾਲ;ਟਿਕਾਣਾ;ਨਸ਼ਟ;ਜੀਪੀਐਸ;ਕੈਮਰਾ;ਫ਼ੋਟੋ;ਤਸਵੀਰਾਂ;ਵੀਡੀਓ;ਵਿਡੀਓ;ਵੈਬਕੈਮ;ਮਾਈਕਰੋਫ਼ੋਨ;ਰਿਕਾਰਡਿੰਗ;ਰਿਕਾਰਡ ਕਰਨਾ;ਸੁਰੱਖਿਆ;ਫ਼ਿਰਮਵੇਅਰ;ਥੰਡਰਬੋਲਟ;ਰੱਖਣਾ;ਸੰਭਾਲਣਾ;
Keywords[pl]=Prywatność;Ekran;Blokada;Zablokuj;Prywatne;Użycie;Używane;Ostatnie;Ostatnio;Historia;Pliki;Plików;Tymczasowe;Tmp;Kosz;Śmietnik;Czyszczenie;Wyczyść;Przeczyść;Usuwanie;Usuń;Kasowanie;Skasuj;Kasuj;Zachowywanie;Zachowaj;Diagnostyka;Awaria;Awarie;Crash;Krasz;Kresz;Położenie;geograficzne;Miejsce;Lokalizacja;Lokacja;Geolokalizacja;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;Aparat;Kamera;Zdjęcia;Fotografie;Filmy;Wideo;Video;Nagrania;Kamerka;Webcam;Łebkam;Mikrofon;Nagrywanie;Nagraj;Zabezpieczenia;Bezpieczeństwo;Oprogramowanie sprzętowe;Firmware;Firmłer;Thunderbolt;
Keywords[pt_BR]=Privacidade;Tela;Bloquear;Privado;Uso;Recente;Histórico;Arquivos;Temporário;Lixo;Lixeira;Apagar;Purgar;Reter;Diagnóstico;Diagnosticar;Falha;Localização;Gps;Câmera;Fotos;Vídeo;Webcam;Microfone;Gravação;Segurança;
Keywords[ru]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;Конфиденциальность;Блокировка;Экран;История;Файлы;Корзина;Диагностика;Местоположение;Камера;Фото;Видео;Веб-камера;Микрофон;Запись;Безопастность;Прошивка;
Keywords[sl]=Zasebnost;Zaklepanje zaslona;Zasebno;Uporaba;Nedavna;Zgodovina;Datoteke;Začasno;Tmp;Koš;Smeti;Čiščenje;Ohraniti;Diagnostika;Zlom;Lokacija;GPS;Kamera;Fotografije;Fotoaparat;Video;Spletna kamera;Mikrofon;Snemanje;Varnost;Firmware;Thunderbolt;Strojna oprema;
Keywords[sv]=Sekretess;Skärm;Lås;Privat;Användning;Senaste;Historik;Filer;Tillfällig;Tmp;Papperskorg;Töm;Behåll;Diagnostik;Krasch;Plats;Gps;Kamera;Foton;Video;Webbkamera;Mikrofon;Inspelning;Säkerhet;Fast programvara;Firmware;Thunderbolt;
Keywords[tr]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;Güvenlik;Ekran;Kilit;Özel;Kullanım;Son;Geçmiş;Dosyalar;Geçici;Temizle;Kaldır;Yer Kazan;Tanıla;Çökme;Konum;Kamera;Fotoğraflar;Video;Mikrofon;Kayıt;Güvenlik;Donanım Yazılımı;
Keywords[uk]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;конфіденційність;екран;блокування;приватний;користування;нещодавні;недавні;журнал;файли;тимчасові;смітник;кошик;спорожнити;очистити;зберегти;діагностика;аварія;місце;перебування;камера;фотоапарат;фотографії;світлини;відео;вебкамера;мікрофон;запис;записування;безпека;мікропрограма;тандерболт;
Keywords[zh_CN]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;隐私;屏幕;锁定;锁屏;占用;最近;历史;文件;临时;回收站;清除;清理;保留;诊断;崩溃;位置;定位;摄像头;相机;照片;视频;麦克风;录制;录音;录屏;安全;固件;雷电;
Keywords=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Microphone;Recording;Security;Firmware;Thunderbolt;
